import Sp{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Sp{{properCase name}}',
  component: Sp{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Sp{{properCase name}} },
  template: `
    <div>
      <sp-{{name}}></sp-{{name}}>
    </div>
  `
})